.genre {
  width: 40x;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 40%;
  font-size: 8px;
  text-align: center;
  color: white;
  word-wrap: break-word;
}
